<footer>
    <section class="section-footer">
        <div class="div-footer">
            <h3 class="h3-footer">Contacto</h3>
            <p class="p-footer">Teléfono: +598 99952008</p>
            <p class="p-footer">Email: licorescolinadeloscanes@gmail.com</p>
        </div>
        <div class="div-footer">
            <h3 class="h3-footer">Ubicación</h3>
            <p class="p-footer">
                Alcides Dotti 2629 Casi Julio Rodríguez
                Juan Lacaze - Colonia
                Uruguay
            </p>
        </div>
    </section>
    <section class="section-footer">
        <div class="div-footer">
            <h3 class="h3-footer" id="redes">Redes</h3>
            <div class="logos-redes">
                <a class="link-redes" href="https://www.facebook.com/colinadeloscanes/"><img class="logo-facebook logo facebook" alt="Nuestro Facebook"></a>
                <a class="link-redes" href="https://www.instagram.com/licores.colina.de.los.canes/"><img class="logo-instagram logo instagram" alt="Nuestro Instagram"></a>
                <a class="link-redes" href="mailto:licorescolinadeloscanes@gmail.com"><img class="logo-gmail logo gmail" alt="Nuestro Instagram"></a>
            </div>
        </div>
    </section>
    <section class="section-footer">
        <div class="derechos">
            <p class="p-footer p-footer-derechos">© Todos los derechos reservados</p>
            <p class="p-hecho-por p-footer">
                Hecho por:<a href="https://www.linkedin.com/in/faustino-ramos-54a997311/" class="hecho-por">Faustino Ramos</a>
            </p>
        </div>
    </section>
</footer>