<nav>
    <section class="menu">
        <ul>
            <li><img class="iconografia-logo"><a href="../../"></a></li>
            <li><a href="../../">Inicio</a></li>
            <li><a href="../../pages/cliente/productos.html">Productos</a></li>
            <li><a href="../../pages/cliente/blog.html">Blog</a></li>
            <li><a href="../../pages/cliente/sobreNosotros.html">Sobre nosotros</a></li>
            <li><a href="../../pages/cliente/contacto.html">Contacto</a></li>
            <li><a href="../../pages/cliente/carrito.html">Carrito<span>0</span></a></li>
        </ul>
        <ul>
            <li><a href="../../pages/cliente/ingresar.html">Ingresar</a></li>
        </ul>
    </section>
    <section class="menu-adaptable">
        <div class="menu-bar">
            <button class="button-icon-list"><span class="icon-list">☰</span></button>
        </div>
        <ul class="menu-adaptable-ul">
            <li><a href="../../">Inicio</a></li>
            <li><a href="../../pages/cliente/productos.html">Productos</a></li>
            <li><a href="../../pages/cliente/blog.html">Blog</a></li>
            <li><a href="../../pages/cliente/sobreNosotros.html">Sobre nosotros</a></li>
            <li><a href="../../pages/cliente/contacto.html">Contacto</a></li>
            <li><a href="../../pages/cliente/carrito.html">Carrito</a></li>
            <li><a href="../../pages/cliente/ingresar.html">Ingresar</a></li>
        </ul>
    </section>
</nav>
