<nav>
    <section class="menu">
        <ul>
            <li><img class="iconografia-logo"><a href="index.html"></a></li>
            <li><a href="../../pages/administrador/index.html">Inicio</a></li>
            <li><a href="../../pages/administrador/gestionarProductos.html">Productos</a></li>
            <li><a href="../../pages/administrador/blog.html">Blog</a></li>
            <li><a href="../../pages/administrador/sobreNosotros.html">Sobre nosotros</a></li>
            <li><a href="../../pages/administrador/contacto.html">Contacto</a></li>
            <li><a href="../../pages/administrador/carrito.html">Carrito<span>0</span></a></li>
        </ul>
        <ul>
            <li><a href="../../pages/administrador/perfil.html">Perfil</a></li>
        </ul>
    </section>
    <section class="menu-adaptable">
        <div class="menu-bar">
            <button class="button-icon-list"><span class="icon-list">☰</span></button>
        </div>
        <ul class="menu-adaptable-ul">
            <li><a href="../../">Inicio</a></li>
            <li><a href="../../pages/administrador/gestionarProductos.html">Productos</a></li>
            <li><a href="../../pages/administrador/blog.html">Blog</a></li>
            <li><a href="../../pages/administrador/sobreNosotros.html">Sobre nosotros</a></li>
            <li><a href="../../pages/administrador/contacto.html">Contacto</a></li>
            <li><a href="../../pages/administrador/carrito.html">Carrito</a></li>
            <li><a href="../../pages/administrador/perfil.html">Perfil</a></li>
        </ul>
    </section>
</nav>
